{% extends "../layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form enctype="application/x-www-form-urlencoded" method="post">
            {{ govukButton({
                text: saveButtonLabel
            }) }}
        </form>
    </div>
</div>
{% endblock %}