{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block body %}
    {% if errors %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
        }) }}
    {% endif %}

    <form enctype="application/x-www-form-urlencoded" method="post">
        {% if csrfToken %}
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {% endif %}

        {% block form %}{% endblock %}

        {{ govukButton({
            text: saveButtonLabel
        }) }}
        <a href="/cancel-application" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel application
        </a>
    </form>
{% endblock %}