{{ govukDateInput({
    id: 'enlistedDate', namePrefix: 'enlistedDate',
    fieldset: { legend: { text: 'Date they joined' } }, errorMessage: error.enlistedDate,
    items: [
        { classes: 'govuk-input--width-2', name: 'day', value: old['enlistedDate-day'] },
        { classes: 'govuk-input--width-2', name: 'month', value: old['enlistedDate-month'] },
        { classes: 'govuk-input--width-4', name: 'year', value: old['enlistedDate-year'] }
    ]
}) }}

{% if serviceRecordNotHeld %}
    {% set serviceRecordHtml %}
        No records held where death is before 1 Jan 1920.
        Contact <a href="https://www.nationalarchives.gov.uk/">The National Archive</a>.
    {% endset %}

    {{ govukDetails({ summaryText: 'Service record not held', html: serviceRecordHtml }) }}
{% endif %}

{{ govukDateInput({
    id: 'dischargedDate',  namePrefix: 'dischargedDate',
    fieldset: { legend: { text: elementData.dischargedDateLabel } },
    hint: { text: 'Approximate if you are unsure.' }, errorMessage: error.dischargedDate,
    items: [
        { classes: 'govuk-input--width-2', name: 'day', value: old['dischargedDate-day'] },
        { classes: 'govuk-input--width-2', name: 'month', value: old['dischargedDate-month'] },
        { classes: 'govuk-input--width-4', name: 'year', value: old['dischargedDate-year'] }
    ]
}) }}

{{ govukCharacterCount({
    name: 'dischargedInformation', id: 'dischargedInformation', maxlength: 200,
    label: { text: 'Further information' }, hint: { text: 'For example Ranks, Grades, Regiments, National Insurance number.' }
}) }}